body{
    display: flex;
    justify-content: center;
    margin: auto;
}
#top{
    align-items: flex-end;
}
#titre{
    border-radius: 10px;
    background-color: grey;
    width:fit-content;
    justify-content: center;
    border: solid black;
}
#table{
    border-radius: 100px;
    border: solid black;
    background-color: rgba(0, 128, 0, 0.527);
    width: 1000px;
    height: 520px;
    flex-direction: column;
    padding: 1%;
}
#tout{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center ;
}
.part{
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#dealer_txt{
    width: 50px;
    height: 50px;
    border: solid blue;
    border-radius: 10px;
    background-color: brown;
    text-align: center;
}
.value{
    width: 10%;
    border: solid blue;
    border-radius: 10px;
    background-color: brown;
    text-align: center;
    height: 45%;
}
.photo{
    width: 19%;
}
.card{
    display: flex;
    flex-direction: row;
    width: 40%;
    border: solid blue;
    border-radius: 10px;
    background-color: brown;
    text-align: center;
    align-items: center;
}
#stack{
    width: 10%;
    border: solid blue;
    border-radius: 10px;
    background-color: brown;
    text-align: center;
    height: 50%;
}
.bouton{
    width: 10%;
    height: 30%;
    border: solid blue;
    border-radius: 10px;
    background-color: rgb(0, 255, 0);
    align-items: center;
    justify-content: center;
}
#mid{
    align-items: center;
}
#bot{
    align-items: flex-end;

}
#result{
    border: solid black;
    background-color: brown;
    border-radius: 10px;
    padding: 2px;
    color: white;
}


@media(max-width:1043px ){
    #table{
        width: 90%;
    }
    .card{
        min-width: 75px;
    }
    .photo{
        min-width: 70px;
    }
}
@media(max-width:547px ){
    #table{
        width: 360px;
    }
}
